---
layout: archive
title: "Recent and Selected Publications"
permalink: /publications/
author_profile: true
---

<p align="left"><strong>Yongsen Zheng</strong>, Ruilin Xu, Guohua Wang, Liang Lin, Kwok-Yan Lam, “Mitigating Matthew Effect: Multi-Hypergraph Boosted Multi-Interest Self-Supervised Learning for Conversational Recommendation”, Proc. of Empirical Methods in Natural Language Processing (EMNLP), 2024.<a href="https:XXXX">[PDF]</a> <a href="https:XXXX">[CODE]</a></p>

<p align="left"><strong>Yongsen Zheng</strong>, Guohua Wang, Yang Liu, Liang Lin, “Diversity Matters: User-Centric Multi-Interest Learning for
Conversational Movie Recommendation”, Proc. of ACM International Conference on Multimedia (ACM MM), 2024. <a href="https:XXXX">[PDF]</a><a href="https:XXXX">[CODE]</a></p>

<p align="left"><strong>Yongsen Zheng</strong>, Ruilin Xu, Ziliang Chen, Guohua Wang, Mingjie Qian, Jinghui Qin, Liang Lin, “HyCoRec: Hypergraph-Enhanced Multi-Preference Learning for Alleviating Matthew Effect in Conversational Recommendation”, Proc. of the Association for Computational Linguistics (ACL), 2024.<a href="https:XXXX">[PDF]</a> <a href="https:XXXX">[CODE]</a></p>


<p align="left"><strong>Yongsen Zheng</strong>, Ziliang Chen, Jinghui Qin, Liang Lin, “FacetCRS: Multi-Faceted Preference Learning for Pricking Filter Bubbles in Conversational Recommender System”, Proc. of AAAI Conference on Artificial Intelligence (AAAI), 2024. <a href="https:XXXX">[PDF]</a> <a href="https:XXXX">[CODE]</a></p>

<p align="left"><strong>Yongsen Zheng</strong>, Jinghui Qin, Pengxu Wei, Ziliang Chen, Liang Lin, “CIPL: Counterfactual Interactive Policy Learning to Eliminate Popularity Bias for Online Recommendation”, IEEE Transactions on Neural Networks and Learning Systems (TNNLS), DOI: 10.1109/TNNLS.2023.3299929, 2023. <a href="https:XXXX">[PDF]</a> <a href="https:XXXX">[CODE]</a></p>

<p align="left"><strong>Yongsen Zheng</strong>, Pengxu Wei, Ziliang Chen, Chengpei Tang, Liang Lin, “Routing User-Interest Markov Tree for Scalable
Personalized Knowledge-Aware Recommendation”, IEEE Transactions on Neural Networks and Learning Systems (TNNLS), DOI: 10.1109/TNNLS.2023.3276395, 2023. <a href="https:XXXX">[PDF]</a> <a href="https:XXXX">[CODE]</a></p>

<p align="left"><strong>Yongsen Zheng</strong>, Pengxu Wei, Ziliang Chen, Yang Cao, Liang Lin, “Graph-Convolved Factorization Machines for
Personalized Recommendation”, IEEE Transactions on Knowledge and Data Engineering (TKDE), 2021. <a href="https:XXXX">[PDF]</a> <a href="https:XXXX">[CODE]</a></p>

<p align="left">Ziliang Chen, <strong>Yongsen Zheng</strong>, Zhao-Rong Lai, Quanlong Guan, Liang Lin, “Diagnosing and Rectifying Fake OOD Invariance: A Restructured Causal Approach”, Proc. of AAAI Conference on Artificial Intelligence (AAAI), 2024. <a href="https:XXXX">[PDF]</a> <a href="https:XXXX">[CODE]</a></p>

<p align="left">Mingjie Qian, <strong>Yongsen Zheng*</strong>, Jinghui Qin, Liang Lin, “HutCRS: Hierarchical User-Interest Tracking for Conversational Recommender System”, Proc. of Empirical Methods in Natural Language Processing (EMNLP), 2023.<a href="https:XXXX">[PDF]</a> <a href="https:XXXX">[CODE]</a></p>

<p align="left">Xin Jin, Wu Zhou, Jinyu Wang, Duo Xu, <strong>Yongsen Zheng*</strong>, “An Order-Complexity Aesthetic Assessment Model for Aesthetic-aware Music Recommendation”, Proc. of ACM International Conference on Multimedia (ACM MM), 2023. <a href="https:XXXX">[PDF]</a> <a href="https:XXXX">[CODE]</a></p>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



